@import "tailwindcss";

@theme {
  --color-primary: #186f41;
  --color-subPrimary: #b0d1e4;
  --color-background: #ffffff;
  --color-secondary: #f1f5f9;
  --color-black-text: #333;
  --color-white-text: #fff;
  --color-black: #000;
  --color-grey: #a1a1aa;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl,
.mapboxgl-ctrl-left .mapboxgl-ctrl {
  margin: 4px 12px !important;
}

.mapboxgl-ctrl-attrib-inner {
  display: none !important;
}

/* .swiper .swiper-horizontal {
  padding: 4px !important;
} */

.home-post-swiper {
  padding-bottom: 40px; /* chừa chỗ cho dot */
}

body {
  background: var(--color-background);
  color: var(--color-black-text);

  font-family: "Roboto", -apple-system, sans-serif;
}

/* Chrome, Edge, Safari */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* gray-300 */
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* gray-400 */
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}
