.swiper-pagination-bullet {
  width: 20px !important;
  height: 4px !important;
  background: #f4f4f4 !important;
  opacity: 1;
  border-radius: 8 !important;
}

.custom-dot-active {
  background: #186f41 !important;
  transform: scale(1.3);
}

.home-post-swiper {
  padding: 4px !important;
  padding-bottom: 48px !important;
}
